.input {
  border: .5px solid rgb(210, 210, 210);
  background-color: rgba(240, 240, 240, .5);
  border-radius: 3px;
  font-size: .9em !important;
}
.label {
  font-size: 12px;
}
.bottom {


  width: 90%;
  left: 50%;

}
main.inner-scroll.scroll-y {
  background-color: #3f51b51f !important;
}
