<ion-content>
    <ion-fab vertical="top" horizontal="start" slot="fixed" (click)="cancel()">


            <ion-icon name="arrow-back" style="font-size: 25px" mode="md"></ion-icon>

    </ion-fab>


    <ion-slide>
        <img style="width:55%"
             src="../../assets/image/LOGO-MKGO---FINAL--.png"><h2 style="font-family: fantasy">Innoya Dispatch</h2>
        <br>
        <h2 style="font-family: fantasy;
    margin-top: 15%;
">{{versionNumber}}</h2>

        <div class="slider-text">

            © 2021 Copyright InnoyaDev
        </div>


    </ion-slide>
</ion-content>
