ion-toolbar {
  ion-title {
    //font-size: 1rem;
    //margin-top: 7px;

    ion-icon {
      margin-bottom: -3px;
    }
  }
}
.flex {
  justify-content: flex-end;
align-items: flex-end;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  transform: translateY(0%);
}
.or_with_Line {
  justify-content: flex-end;
  align-items: flex-end;
    flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  hr {
    height: 1px;
    border-width: 0;
    box-sizing: content-box;
    background: var(--ion-color-light-shade);
    width: 150px;
  }
}
ion-text {
  font-size: 12px;
  padding-top: 10px;
  .secondary {
    color: #00bcd4;
  }
}
.Input_Fields {
  width: 90%;
  height: 41%;
}
.item-has-focus{
  --highlight-background: #e2e2e2;
}
p {
  font-weight: bold;
  min-height: 32px;
}
ion-button {

  height: 48px;
}
ion-footer {
  ion-button {
    width: 100%;
  }
}
.inputField {
  border: 1px solid #eaeaee;
  font-size: 14px;
  margin-bottom: 15px;
}
.sc-ion-input-md-h{
  --padding-start: 16px !important;
}
ion-item{
  --border-width: 0 0 0px 0 !important;
}
ion-input {
  border: 5px !important;
}

.text-input-ios, .text-input-md {
  border-radius: 5px;
  border: 1px solid #efefef;
}

.text-input {
  margin: 0;
  width: calc(100% - 8px);
  padding: 13px 8px;
}
.error {
  color: rgb(223, 62, 62);
  font-size: 11px;
}


  //// spin and wifi for all pages

  .spin {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #wifi {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }