
.header-md:after {
  background-image: none;
}

ion-searchbar {
  --background: #e0e0e073;
}

ion-icon {
  margin-top: 6px !important;
  font-size: 1.3em;
}

ion-label {
  margin: 5px 10px 5px 5px !important;

}



ion-list {
  padding-top: 0;
  padding-bottom: 0;
}

ion-content {
  .error-message {
    color: red;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 10px;
  }

  .submit-btn {
    margin: 48px 12px 12px;
  }
}

.speaker-card {
  justify-content: flex-end;
align-items: flex-end;
  flex-direction: column;
}

/* Due to the fact the cards are inside of columns the margins don't overlap
 * properly so we want to remove the extra margin between cards
 */
ion-col:not(:last-of-type) .speaker-card {
  margin-bottom: 0;
}

.speaker-card .speaker-item {
  --min-height: 85px;
}

.speaker-card .speaker-item h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.speaker-card .speaker-item p {
  font-size: 13px;
  letter-spacing: 0.02em;
}

.speaker-card ion-card-header {
  padding: 0;
}

.speaker-card ion-card-content {
  flex: 1 1 auto;

  padding: 0;
}

.ios ion-list {
  margin-bottom: 10px;
}

.md ion-list {
  border-top: 1px solid var(--ion-color-step-150, #d7d8da);

  padding: 0;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  //background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
 // background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.contact-popover {
  position: absolute;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
}

.alert {
  z-index: 20;
}


ion-app {
  /*animation of native keyboard show*/
  transition: margin 300ms;
}

ion-avatar {
  width: 60px;
  height: 60px;
}

ion-list-header {
  color: var(--ion-color-medium-tint);
  font-weight: 500;
  min-height: 24px;
}

ion-item {
  --min-height: 44px;
}

.toastCss {
  --background: red !important;
  --color: white !important;
}

ion-avatar {
  width: 60px;
  height: 60px;
}

ion-button {
  width: 100%;
  height: 20px;
  --border-radius: 14px;
}

.my-custom-menu {
  --width: 500px;
}

.cssmodal {
  height: 50% !important;
}

.btn {
  display: inline-block;
  font-weight: 1014;

  text-align: center;
  white-space: pre-line;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0px solid transparent;
  padding: .2rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

ion-button {

  height: 63%;
  --border-radius: 14px;
}

ion-toggle {
  --background: #E74C3C;
  --handle-background: no-repeat center/80% url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Ctitle%3Eionicons-v5-m%3C/title%3E%3Cpath d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"/%3E%3C/svg%3E');
  --handle-background-checked: no-repeat center/80% url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpolyline points="416 128 192 384 96 288" style="fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;"/%3E%3C/svg%3E');
}

ion-header {
  ion-toolbar {
    ion-title {
      font-size: 1rem;

      ion-icon {
        margin-bottom: -3px;
      }
    }
  }

  ion-grid {
    ion-row {
      .thumbnail {
        text-align: -webkit-center;

        ion-thumbnail {
          position: relative;
          min-width: 3.5rem;
          min-height: 3.5rem;
          border-radius: 20px;
          padding: 3px;

          img {
            border-radius: 20px;
          }
        }

        ion-thumbnail::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 20px;
          padding: 3px;
         // background: linear-gradient(to bottom, #FD771D, #FD771D, #FD771D, #FD771D, #FD771D, #fca162, #FFDC80);
          //-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          -webkit-mask-composite: destination-out;
          mask-composite: exclude;
        }

        ion-fab {
          margin: 0 -10px -14px 10px;
          width: 20px;
          height: 20px;

          ion-fab-button {
            width: 20px;
            height: 20px;
            //--background: linear-gradient(to bottom, #FD771D, #FD771D, #FD771D, #FD771D, #FD771D, #fca162, #FFDC80);
          }
        }
      }

      ion-col {
        align-self: inherit;

        ion-label {
          color: white;
          font-size: 0.9rem;
          font-weight: bold;

          .info {
            font-size: 0.75rem;
            font-weight: normal;
          }

          .description {
            margin: 5px 5px 0 0;
            font-size: 0.75rem;

            a {
              text-decoration: none;
            }
          }
        }
      }

      ion-slides {
        ion-slide {
          ion-col {
            text-align: -webkit-center;

            ion-thumbnail {
              min-width: 3rem;
              min-height: 3rem;
              border-radius: 20px;
              margin: 0;
              border: 1px solid var(--ion-color-light);

              ion-icon {
                transform: translateY(1.6vh);
                font-size: 1.6rem;
              }

              img {
                border-radius: 20px;
              }
            }

            p {
              margin: 0;

              ion-text {
                font-size: 0.65rem;
                font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                font-weight: 300;
              }
            }
          }
        }
      }
    }

  }

}
ion-select::part(placeholder) {

  opacity: 1;
}
select {
  border: 1px solid #ededed;
  border-radius: 5px;
  background: #fbfbfb;
  width: 100%;
  height: 34px;
}
